.menu{
  position: absolute;
  height: 100vh;
  width: 100vh;
  background-image: url(./assets/menu/menu.png);
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.menu li {
  list-style-type: none;
  font-size: 5vh;
  height: 5vh;
  width: 40vh;
  padding: 3vh;
  margin: 25vh 0vh -26vh 55vh;
}

.menu li:hover {
  padding-left: +5vh;
  background-image: url("./assets/menu/arrow.png");
  background-repeat: no-repeat;
  background-size: 3vh;
  background-position: 0% 50%;
}

.pokemon-menu {
  position: absolute;
  height: 100vh;
  width: 100vh;
  background-image: url(./assets/menu/pokemon.png);
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.pokemon-menu li {
    list-style-type: none;
      font-size: 5vh;
      height: 10vh;
      width: 100vh;
}

.pokemon-menu li p {
  position: absolute;
  font-size: 5vh;
}

#name {
  margin-left: 15vh;
}

#hpbar {
  position: absolute;
  background-image: url('./assets/menu/hpbar.png');
  background-size: contain;
  right: 0;
  margin-top: 5vh;
  width: 45vh;
  height: 5vh;
}

#hpbar2 {
  position: absolute;
  margin-top: 2.3vh;
  right: 5vh;
  left: 10vh;
  height: 1.5vh;
  background-color: #53cd53; 
}

#level {
  margin-top: 5vh;
  right: 45vh;
}

#health {
  right: 15vh;
}

#maxhp {
  right: 0vh;
}

@keyframes pokemon-icons{
  0% {background-position: -40vh -30vh;}
    49.999% {
      background-position: -40vh -30vh;
    }
        50% {
          background-position: -50vh -30vh;
        }
  100% {
      background-position: -50vh -30vh;
    }
}


#icon {
  position: absolute;
  background-image: url(./assets/menu/iconsheet.png);
  background-size: 100vh;
  background-position: -40vh -30vh;
  width: 10vh;
  height: 10vh;
}

.pokemon-menu li:hover #icon {
  animation: linear;
  animation-name: pokemon-icons;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin-left: +5vh;
}

#arrow2{
  position:absolute;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1vh;
  margin-top: 2.5vh;
  width: 5vh;
  height: 5vh;
}

.pokemon-menu li:hover #arrow2 {
  background-image: url('./assets/menu/arrow.png');
}